<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">게시글 목록</h1>
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="get">
                           <div class="input-group">
                               <select name="type" id="type">
                                   <option value="">선택하세요.</option>
                                   <option value="W">작성자</option>
                                   <option value="T">제목</option>
                                   <option value="C">내용</option>
                               </select>
                               <input class="form-control" type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                               <button class="btn btn-primary" id="btnSearch" type="button"><i class="fas fa-search"></i></button>
                           </div>
                       </form>
                <div class="card mb-4">
                    <form id="listFrm">
                        <div class="card-body">
                            <table id="boardList" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>제목</th>
                                        <th>내용</th>
                                        <th>작성자</th>
                                        <th>등록일</th>
                                        <th>수정일</th>
                                    </tr>
                                    <tbody id="boardBody"></tbody>
                                </thead>
                            </table>
                        </div>
                        <!-- 동적 페이지네이션 -->
                        <nav id="pagiNav" class="pagiNav" aria-label="Page navigation"></nav>
                    </form> 
                </div>
                <div class="input-group">
                    <a class="btn btn-success" data-bs-toggle="modal" id="regContentBtn" data-bs-target="#regContentModal" href="">등록</a>
                </div>

            <!--modal start(등록)-->
            <form id="regFrm" class="needs-validation" th:action="@{|/board/api/reg|}" th:object="${boardVo}" method="post">

                <input type="hidden" id="boardSno" name="boardSno">
                <input type="hidden" id="userId" name="userId" th:value="${session.userVo.getUserId()}">

                <div class="modal fade" id="regContentModal" tabindex="-1" aria-labelledby="regContent" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="regContent"></h1>
                    </div>
                    <div class="modal-body">
                       <div class="input-group mb-3">
                          <label for="title" class="form-label">제목</label>
                          <input type="text" id="title" name="title" class="form-control is-valid" required>
                        </div>
                        <div class="input-group mb-3">
                          <label for="content" class="form-label">내용</label>
                          <textarea class="form-control is-valid" id="content" name="content" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">닫기</button>
                      <button type="button" class="btn btn-primary" id="btnSave" >저장</button>
                    </div>
                  </div>
                </div>
              </div>
            <!--modal end-->
            </form>
        </div>
    </main>

    <!-- Script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        //구분
        let menu = "board";

        $(document).ready(function () {

            //게시글 저장 버튼 이벤트
            $("#btnSave").on("click", function () {
                //입력폼 유효성 검증
                const result = validation();

                if(result) {

                    const params = {title: $("#title").val(), content: $("#content").val(), userId: $("#userId").val(), boardSno: $("#boardSno").val() }

                    $.ajax({
                        type : "post",
                        url : "/api/board",
                        dataType: "json",
                        data : JSON.stringify(params),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data){
                            console.log(data);
                            if(data.code === "1") {
                                alert(data.no + "번 게시글이 저장되었습니다.");
                                $("#regContentModal").modal("hide");
                                location.reload(true);
                            } else {
                                alert("게시글 등록에 실패했습니다.");
                                $("#regFrm")[0].reset();
                                return false;
                            }
                        },
                        error:function(e){
                            console.log(e);
                            alert("게시글 등록에 실패했습니다.");
                        }
                    });
                }
            });

            //모달창 닫기 클릭 시 form 입력값 초기화
            $("#btnClose").on("click", function () {
                $("#regFrm")[0].reset();
            });

            //게시글 등록 모달 호출
            $("#regContentBtn").on("click", function () {
                $("#regContent").text("새 글 작성")
                $("#regContentModal").modal("show");
            });
            //페이지 최초 로드 시 1페이지 로드
            getList("", 1, menu);
        });

        //게시글 상세
        function detail(sno) {
            $.ajax({
                type : "get",
                url : "/api/board/" + sno,
                success: function (data){
                    console.log(data);
                    $("#regContent").text("게시글 수정");
                    $("#title").val(data.title);
                    $("#content").val(data.content);
                    $("#boardSno").val(data.boardSno);
                    $("#regContentModal").modal("show");
                },
                error:function(e){
                    console.log(e);
                    alert("게시글 상세정보를 불러오질 못했습니다.");
                }
            });
        }

        //유효성 검증
        function validation() {
            let resultCode = false;

            if ($("#title").val() === "" || $("#title").val() === undefined || $("#title").val() === " ") {
                alert("제목은 필수값입니다.");
                $("#title").focus();
                return false;
            }
            if ($("#content").val() === "" || $("#content").val() === undefined || $("#content").val() === " ") {
                alert("내용은 필수값입니다.");
                $("#content").focus();
                return false;
            }
            resultCode = true;
            return resultCode;
        }

    </script>

</div>
<!-- div layout:fragment="content" end -->

</html>