<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">게시글 목록</h1>
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
                <div class="card mb-4">
                    <form id="frm" action="/del" method="post">
                    <div class="card-body">
                        <table id="boardList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                    <th>수정일</th>
                                    <th></th>
                                </tr>
                                <tr th:each=" list : ${list} ">
                                    <td th:text="${list.no}"></td>
                                    <td th:text="${list.title}"></td>
                                    <td th:text="${list.content}"></td>
                                    <td th:text="${list.userId}"></td>
                                    <td th:text="${list.regDate}"></td>
                                    <td th:text="${list.modDate}"></td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </form>
                </div>
        </div>
    </main>

    <!-- Script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            console.log("load");

        });



    </script>

</div>

</html>