<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">게시글 목록</h1>
                <div class="card mb-4">
                    <form id="frm">
                    <div class="card-body">
                        <table id="boardList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                    <th>수정일</th>
                                </tr>
                                <tr th:each=" list : ${list} ">
                                    <td th:text="${list.no}"></td>
                                    <td th:text="${list.title}"></td>
                                    <td th:text="${list.content}"></td>
                                    <td th:text="${list.userName}"></td>
                                    <td th:text="${list.regDate}"></td>
                                    <td th:text="${list.modDate}"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </form>
                </div>
                <div class="input-group">
                    <a th:href="@{/reg}" class="btn btn-success">등록</a>
                </div>
        </div>
    </main>

    <!-- Script -->
    <script layout:fragment="script" th:inline="javascript" type="text/javascript">

        $(document).ready(function () {


        });



    </script>

</div>

</html>