<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세</title>
</head>
<body>
  <form id="modFrm">
  <input type="hidden" id="boardSno" th:value="${info.boardSno}">
  <input type="text" th:value="${info.title}">
  <input type="text" th:value="${info.content}">
    <button id="ModBtn" type="button">저장</button>
  </form>
<script th:inline="javascript" type="text/javascript">

    $(function () {
        $("#ModBtn").on("click", function () {

            const boardSno = $("#boardSno").val();

            $.ajax({
                url: "/api/board/mod/" + boardSno,
                type:"put",
                //IE 브라우저 사용 안한다는 가정하에 주석처리
                // cache: false,
                data: $("#modFrm").serialize(),
                success: function (data) {
                    if(data.code === "1") alert("수정 되었습니다.");
                },
                error:function(e){
                    console.log(e);
                }
            });
        });
    });

</script>

</body>
</html>