<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <form id="modFrm">
  <th:block th:if="${info?.boardSno != null}">
  <input type="hidden" name="boardSno" id="boardSno" th:value="${info.boardSno}">
  <input type="text" name="title" th:value="${info.title}">
  <input type="text" name="content" th:value="${info.content}">
    <button id="ModBtn" type="button">수정</button>
  </th:block>

  <th:block th:unless="${info?.boardSno != null}">
  <input type="text" name="title">
  <input type="text" name="content">
  <button id="ModBtn" type="button">저장</button>
  </th:block>
      <a href="/board">목록</a>
  </form>
<script th:inline="javascript" type="text/javascript">

    $(function () {
        $("#ModBtn").on("click", function () {

            const boardSno = $("#boardSno").val();

            $.ajax({
                url: "/api/board/",
                type:"post",
                //IE 브라우저 사용 안한다는 가정하에 주석처리
                // cache: false,
                data: $("#modFrm").serialize(),
                success: function (data) {
                    if(data.code === "1") alert("저장 되었습니다.");
                    location.href = "/board"
                },
                error:function(e){
                    console.log(e);
                }
            });
        });
    });
</script>

</body>
</html>